[connections.gsheets]
# Google service account credentials
# For more details see Streamlit docs
spreadsheet = "https://docs.google.com/spreadsheets/d/your-sheet-id"
worksheet = "Codes"
# type = "service_account"
# project_id = "YOUR_PROJECT_ID"
# private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# client_email = "your-service-account@your-project.iam.gserviceaccount.com"
